.fa-times:before{color:red}
.fa-edit:before {
    content: "\f044";
    margin:5px;
    color: blueviolet;
}
li.select {background: #ff000082}
li.unselect:hover {background: #0037ff1f}
li.select .fas.fa-times.close {
    display:none
}